:root {
    --light-coral: #ffa69e;
    --pale-yellow: #faf3dd;
    --light-cyan: #b8f2e6; 
    --pastel-blue: #aed9e0;
    --dark-gray: #5e6472; 
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*/

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    scroll-behavior: smooth;
}

/*start global style*/
body {
    display: flex;
    min-height: 100vh;
    direction: rtl;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #f8f9fa;
}

/*this global style for render common elements normaly*/

img {
    max-width:100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: inherit;
}


/*start sidebar style*/
.sidebar {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    color: white;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h4 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar-links {
    margin-top: 20px;
}

.sidebar a {
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
    transition: background-color 0.3s, padding-left 0.3s;
    
}

.sidebar a:hover {
    background-color: #495057;
    padding-left: 30px;
}

.main-content {
    margin-right: 250px;
    padding: 20px;
    flex: 1;
}

.topbar {
    background-color: white;
    padding:0px 20px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar h5 {
    margin: 0;
    font-size: 25px;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.btn-logout {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-logout:hover {
    background-color: #c82333;
}
.my-toast-title {
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
}

.icon-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
/*end sidebar style*/
/*end global style*/