@model CreatedUser

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-3" dir="rtl">
    <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-5">
            <h2 class="mb-4 text-center fw-bold">إضافة مستخدم جديد</h2>
            <form asp-action="Create" enctype="multipart/form-data" novalidate>
              
                <partial name="PartialViews/CreateEditForm.cshtml"/>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary px-4">
                        <i class="fas fa-user-plus"></i> إضافة
                    </button>
                    <a asp-action="Index" class="btn btn-secondary px-4">
                        <i class="fas fa-arrow-left"></i> العودة
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}