@model ReadersClubCore.Models.Category

@{
    ViewData["Title"] = "حذف التصنيف";
}
<div class="container mt-3" dir="rtl">
    <div class="card shadow-lg border-danger rounded-4">
        <div class="card-body p-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="border-start border-5 border-danger shadow-sm rounded-3 p-4">
                <div class="text-center">
                    <h3 class="text-danger mb-3">هل أنت متأكد من الحذف؟</h3>
                </div>
                        <div class="mb-3 d-flex align-items-center justify-content-center bg-white border rounded-3 p-3 shadow-sm">
                            <div class="d-flex align-items-center">
                                <strong class="text-dark">الإسم : </strong>
                            </div>
                            <span class="pe-2">@Model.Name</span>
                        </div>
                <div class="mt-5 text-center">
                    <form asp-action="Delete" method="post" class="d-inline">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger px-4 py-2 me-2">
                            <i class="bi bi-trash-fill"></i> نعم، احذف
                        </button>
                    </form>

                    <a asp-action="Index" class="btn btn-secondary px-4 py-2">
                        <i class="bi bi-arrow-return-left"></i> تراجع
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>