@model ReadersClubCore.Models.Category



<div class="mb-3">
    <label class="form-label fw-semibold">اسم التصنيف</label>
    <input asp-for="Name" class="form-control rounded-3 shadow-sm" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>